/* Styles for the elements */
* {
	margin: 0;
	padding: 0;
}

/* Page Background */
html {
	background: url("../images/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Body Background & Styles */
body  {
	font-family: Times New Roman, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: #48808D;
	margin: 2em auto; 
	padding: 0;
	border: 3px solid white;
	box-shadow: 0 9px 18px 9px;
	color: #85A7CC;
}

/* Link Styles */
a {
	font-weight: bold;
	color: white;
}
a:link, a:visited { 
    color: white; 
}
a:hover, a:focus { 
    color: #98FFAC;
}

/* Header */
header { 
    background-image: -webkit-linear-gradient(45deg, purple 0%, pink 75%, white 100%);
    background-image: -moz-linear-gradient(45deg, purple 0%, pink 75%, white 100%);
    background-image: -o-linear-gradient(45deg, purple 0%, pink 75%, white 100%);
    background-image: linear-gradient(45deg, purple 0%, pink 75%, white 100%);
    padding: 15px; 
    border-bottom: 2px solid white; 
	color: white;
} 
header img { 
	float: left; 
	padding-right: 15px;
} 
header h2 {
	font-size: 230%;
}
header h3 {
	font-size: 140%;
}

/* Navigation Menu */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style-type: none; 
	position: relative;
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 200px;
	padding: .7em 0;
	text-decoration: underline;
	background-color: #FF46DA;
	color: white;
	font-size: 120%;
}
#nav_menu ul li a.current {
	color: #98FFAC;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #85A7CC;
}

/* Nav Menu Bullets */
.home a {
	background:url("../images/flower.png");
	background-repeat: no-repeat;
	display: inline;
	background-position: 25% 50%;
	background-size: 12%;
}
.games a {
	background:url("../images/flower.png");
	background-repeat: no-repeat;
	display: inline;
	background-position: 25% 50%;
	background-size: 12%;
}
.books a {
	background:url("../images/flower.png");
	background-repeat: no-repeat;
	display: inline;
	background-position: 25% 50%;
	background-size: 12%;
}
.shows a {
	background:url("../images/flower.png");
	background-repeat: no-repeat;
	display: inline;
	background-position: 16% 50%;
	background-size: 12%;
}

/* Main */
main {
	clear: left;
	background-color: #48808D;
	color: white;
	text-align: center;
	background-image: url("../images/border1.png"), url("../images/border2.png");
	background-position: right top, left bottom;
	background-size: 100%;
	border-top: 2px solid white;
	background-repeat: no-repeat;
}
main h2 {
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 180%;
	text-decoration: underline;
}
main h3 {
	text-decoration: underline;
	padding-top: 1em;
	font-size: 130%;
}
main p {
	padding: .4em 2em .4em 2em;
	font-size: 110%;
}
#name a {
	font-size: 140%;
}
main blockquote {
	font-style: italic;
	font-size: 110%;
	padding-right: 2em;
	padding-left: 2em;
}
#author {
	max-width: 70%;
	height: auto;
	padding-left: 1em;
}

/* Section / Table Styles */
section {
	width: 100%;
}
section img {
	padding: 0 .5em 0 .5em;
	width: 120px;
	height: auto;
}
figure {
	margin: 0;
	padding: 0;
}
figure {
	width: 90%;
}
table {
	text-align: center;
	margin: 1em;
	font-size: 110%;
}
table th, td {
	padding-right: 1em;
	vertical-align: top;
}
table thead {
	color: white;
	white-space: nowrap;
}
tbody td {
	text-align: center;
	padding-right: .5em;
}

/* Unordered List Styles */
main ul {
	list-style: none;
}
#first {
	padding: .5em 2em .5em 3em;
	font-style: italic;
	font-size: 110%;
	margin: 0;
	background: url("../images/flower.png");
	background-repeat: no-repeat;
	background-position: 7% 40%;
	background-size: 3%;
}
#second {
	padding: .5em 2em .5em 3em;
	font-style: italic;
	font-size: 110%;
	margin: 0;
	background: url("../images/flower.png");
	background-repeat: no-repeat;
	background-position: 10% 40%;
	background-size: 3%;
}
#third {
	padding: .5em 2em .5em 3em;
	font-style: italic;
	font-size: 110%;
	margin: 0;
	background: url("../images/flower.png");
	background-repeat: no-repeat;
	background-position: 10% 40%;
	background-size: 3%;
}
#fourth {
	padding: .5em 3em .5em 4em;
	font-style: italic;
	font-size: 110%;
	margin: 0;
	background: url("../images/flower.png");
	background-repeat: no-repeat;
	background-position: 6% 20%;
	background-size: 3%;
}

/* Email Link */
#email {
	padding: 0 2em 1em 2em;
	font-size: 110%;
	font-weight: bold;
	color: white;
}

/* Footer */
footer { 
	border-top: 2px solid white;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, purple 0%, pink 75%, white 100%);
    background-image: -moz-linear-gradient(45deg, purple 0%, pink 75%, white 100%);
    background-image: -o-linear-gradient(45deg, purple 0%, pink 75%, white 100%);
    background-image: linear-gradient(45deg, purple 0%, pink 75%, white 100%);
	clear: both;
} 
footer p {
	font-size: 100%;
	text-align: center;
	color: white;
}