/* Styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
}
body  {
	font-family: Times New Roman, Times, serif;
	width: auto;
	color: black;
	background-color: white;
}
a {
	font-weight: bold;
	color: black;
}

/* Header */
header { 
    border-bottom: 2px solid black;
	color: black;
} 
header img { 
	display: none;
} 
header h2 {
	font-size: 190%;
}
header h3 {
	font-size: 120%;
}

/* Navigation Menu */
#nav_menu {
	display: none;
}

/* Main */
main {
	background-color: white;
	color: black;
	text-align: center;
}
main h2 {
	font-size: 120%;
	text-decoration: underline;
}
main h3 {
	text-decoration: underline;
	font-size: 120%;
}
main p {
	font-size: 110%;
}
#name a {
	font-size: 120%;
	color: black;
}
#email {
	display: none;
}
main blockquote {
	font-style: italic;
	font-size: 110%;
}
#author {
	display: none;
}
main ul {
	list-style: none;
}

#first {
	font-style: italic;
	font-size: 110%;
}
#second {
	font-style: italic;
	font-size: 110%;
}
#third {
	font-style: italic;
	font-size: 110%;
}
#fourth {
	font-style: italic;
	font-size: 110%;
}
section {
	width: auto;
}
section img {
	display: none;
}
figure {
	margin: 0;
	padding: 0;
}
figure {
	width: auto;
}
table {
	text-align: center;
	font-size: 110%;
}
tbody td a {
	color: black;
}

/* Footer */
footer { 
	border-top: 2px solid black;
} 
footer p {
	color: black;
}